* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Tahoma;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcf3f6;
  background-image: linear-gradient(0deg, #fcf3f6 0%, #e5fefc 100%);
}

.App {
  padding: 24px;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .App {
    padding: 60px;
  }
}
